.app__icon {
  animation: blick 0.5s linear alternate-reverse infinite;
  color: yellow;
  font-size: 1.5rem;

  @keyframes blick {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
